<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <camera camera_x="0" camera_y="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="true"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <player>
    <position pos_x="60" pos_y="215"/>
    <gravity  value="10"/>
    <acceleration value="0"/>
    <accel_counter value="0"/>
    <velocity value="10"/>
    <slide_counter value="0"/>
    <jump jump_height="200" jump_vel="15"/>
    <jump_bool value="false"/>
    <fall_bool value="false"/>
  </player>

  <map>
    <folder>maps/</folder>
  </map>

</config>