<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Ninja's Path</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera camera_x="0" camera_y="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <music_volume value="128"/>
    <fx_volume value="100"/>
  </audio>


  <file_system>
    <path>data.zip</path>
  </file_system>

  <player>
    <position pos_x="60" pos_y="215"/>
    <gravity  value="500"/>
    <acceleration value="100"/>
    <accel_counter value="10"/>
    <velocity value="1000"/>
    <slide_counter value="0"/>
    <jump jump_height="300" jump_vel="1000"/>
    <jump_bool value="false"/>
    <fall_bool value="false"/>
  </player>

  <map>
    <folder>maps/</folder>
  </map>

</config>